@import '../../assets/scss/global';

.header-view {
  background-color: $defaultBgColor;
  height: 68px;
  overflow: hidden;
  z-index: 100;
  border-bottom: solid 1px #cccccc;
  box-shadow: 0px 0px 2px #cccccc;
  margin-bottom: 2px;
  width: 100%;
  position: fixed;
  top: 0;

  header {
    padding: 14px 0px;
    
    > div {
      float: left;
    }

    .logo-container {
      width: 128px;
    }

    .nav-horizontal {
      font-weight: 600;

      ul {
        li {
          padding: 0px 20px 0px 0px;
          float: left;
        }

        li:hover {
          color: $primaryColor;
        }
      }
    }

    .action-button-container {
      float: right;
    }

    &:after {
      clear: both;
      content: "";
      display: block;
    }

  }
}