@import '../../../assets/scss/global';

.signup-form-view {

  .signup-form {
    width: 480px;
    margin: auto;

    .textfield-container {
      margin: 10px 0px;
      label {
        line-height: 1em;
      }

      .MuiOutlinedInput-input {
        padding: 0.6em 0.8em;
      }

      .textfield-error-message {
        color: #ff0033;
        font-size: 0.8em;
        line-height: 1.5em;
      }
    }

    button {
      width: 100%;

      .MuiCircularProgress-root {
        margin-top: 3px;
        margin-left: 6px;
      }
    }
  }

}